{% extends "base.html" %}
{% block title %}Admin - Enrollments{% endblock %}
{% block content %}
<div class="container">
    <h1>Enrollment Details</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Batch</th>
                    <th>Enrollment Date</th>
                </tr>
            </thead>
            <tbody>
                {% for row in enrollments %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
