<!DOCTYPE html>
<html>
<head>
    <title>Yoga Class Enrollment</title>
</head>
<body>
    <h1>Enroll for Yoga Classes</h1>
    <form method="POST" action="/enroll">
        {{ form.hidden_tag() }}
        <div>
            {{ form.name.label }}
            {{ form.name(class="form-control") }}
            {% for error in form.name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.age.label }}
            {{ form.age(class="form-control") }}
            {% for error in form.age.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.batch.label }}
            {{ form.batch(class="form-control") }}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</body>
</html>
